# Python 缓存和字节码
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
run.log
*.roof.json

# 虚拟环境
env/
venv/
.venv/
ENV/
venv.bak/
env.bak/

# Jupyter 等
.ipynb_checkpoints

# 大体积点云数据
pointclouds/*.ply
pointclouds/*.pcd
pointclouds/*.las
pointclouds/*.laz
pointclouds/*.xyz
pointclouds/*.bin
pointclouds/*.zip

# 标注输出文件夹

labels/*
